.article-list {

    li {
        border-top: #fff 1px solid;
        border-bottom: #dfdfdf 1px solid;
        padding: 10px;
    }
    a {
        color: #333;
    }
}

.btn-read-more {
    width: 100%;
    margin: 15px 0 20px;
    border: none;
    background: inherit;
}
